<h1>About</h1>
    <p>We provide you a platform where you can sell your old bike or buy a used or a new one. Feel free to look around and if you like one just give us a call or check it out when our platform grows by an online buy feature, soon. </p>
