<h1>Contact</h1>
    <p>We started our service as an example e-commerce platform while we learn Ruby and Rails on the great mentored online course for becoming web developers, <a href="https://www.careerfoundry.com">www.CareerFoundry.com</a>, the #1 in Europe. </p>
    <p>You can find us maybe in the Fussgängerstraße 45678 in Berlin-Examplehof, soon. </p>
