<h1>Imprint</h1>
<h3>This is just a test site, a playground for a student of the mentored online "web developer" course at CareerFoundry.com. </h3>
<br>
<p>VAT-Number: X1Y2Z3 (not existing) </p>
<p>Phone number: 0123456789 <br>
Address: WhereToGoStreet 123, 09876543 NoWhere</p>
